.bg {
    background-image: url(./images/BurgerBG.avif);
    margin:0;
    padding:0;
    width: 99vw;
    height: 98.2vh;
    background-size: cover;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;

}
.icons {
    height:40px;
    width:35px;
    margin:5px 5px 0px 4px;
    background-color: 'white';
}